.firebaseui-idp-button,
.firebaseui-tenant-button,
.mdl-button {
  color: var(--white);
  background: var(--color2) !important;
  border-radius: 0.2rem !important;
}

.firebaseui-idp-button:hover {
  background: var(--color3) !important;
}

.firebaseui-idp-text {
  font-weight: 400 !important;
  font-size: 1rem !important;
  color: var(--white) !important;
}

.firebaseui-text {
  font-weight: 400 !important;
  font-size: 1rem !important;
}

.firebaseui-card-content {
  display: flex !important;
  flex-direction: column !important;
  gap: 0.5rem !important;
}

.mdl-button--primary.mdl-button--primary {
  color: var(--white) !important;
}
