.container {
  background: var(--background);

}

a {
  color: var(--white);
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
}

.bar {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  padding: 0.8rem 1rem;
}

.sideLeft {
  display: flex;

  gap: 31px;
  
  align-items: center;
}

.buttonMenus {
  background: none;
  border: none;
  cursor: pointer;
}