.container {
  display: grid;
  grid-template-rows: 10vh 1fr;
}

/* Navigate Bar */

a {
  color: var(--white);
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
}

.bar {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  padding: 0.8rem 1rem;

  background: var(--background) !important;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.sideLeft {
  display: flex;
  gap: 31px;
  align-items: center;
}

.sideRight {
  display: flex;
  align-items: center;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

/* --- */

/* Menu - Lista */

List,
ListItem,
ListItemButton {
  background: none;
}

.drawer {
  opacity: 0.9;
  color: none;
  background: none !important;
}
