* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #141414;
  --white: white;
  --check: #00880e;
  --color1: #04060d;
  --color2: #033e8c;
  --color3: #023373;
  --color4: #155fbf;
  --color5: #377ba6;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #04060d;
}

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  background: var(--background) !important;
}

.MuiDrawer-paperAnchorDockedLeft {
  border-right: none !important;
}

/* Components tela de postagem */
.Mui-selected {
  border: 1px solid var(--color2) !important;
}

a {
  color: #FFFFFF !important;
}