* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --background: #141414;
  --white: #FFFFFF;
  --check: #00880E;
  --color1: #04060D;
  --color2: #033E8c;
  --color3: #023373;
  --color4: #155FBF;
  --color5: #377BA6;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}