.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

/* Lado da logo */
.sideLeft {
  display: flex;
  flex-direction: row;
}

.contentLogo {
  display: flex;
  flex-direction: column;
  
  align-items: center;
  justify-content: center;
}

.bars {
  height: 100vh;
}

/* Lado dos botões de login */
.sideRight {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}